.ml-loader {
  position: relative;
  width: 44px;
  height: 8px;
  margin: 12px auto;
}

.ml-loader__dot {
    display: inline-block;
    width: $dotSize;
    height: $dotSize;
    border-radius: $dotSize * 0.5;
    background: $ml_yellow;
    position: absolute;
  &_1 {
      animation: animateDot1 $animationLength linear infinite;
      left: $animationRadius;
      background: $ml_blue;
  }

  &_2 {
      animation: animateDot2 $animationLength linear infinite;
      animation-delay: $animationLength / 3;
      left: $animationRadius * 2;
  }

  &_3 {
      animation: animateDot3 $animationLength linear infinite;
      left: $animationRadius;
  }

  &_4 {
      animation: animateDot4 $animationLength linear infinite;
      animation-delay: $animationLength / 3;
      left: $animationRadius * 2;
  }
}

@keyframes animateDot1 {
    0%{ transform: rotate(0deg) translateX(-$animationRadius); }
    25% { transform: rotate(180deg) translateX(-$animationRadius); }
    75% { transform: rotate(180deg) translateX(-$animationRadius); }
    100% { transform: rotate(360deg) translateX(-$animationRadius); }
}

@keyframes animateDot2 {
    0%{ transform: rotate(-0deg) translateX(-$animationRadius); }
    25% { transform: rotate(-180deg) translateX(-$animationRadius); }
    75% { transform: rotate(-180deg) translateX(-$animationRadius); }
    100% { transform: rotate(-360deg) translateX(-$animationRadius); }
}

@keyframes animateDot3 {
    0%{ transform: rotate(0deg) translateX($animationRadius); }
    25% { transform: rotate(180deg) translateX($animationRadius); }
    75% { transform: rotate(180deg) translateX($animationRadius); }
    100% { transform: rotate(360deg) translateX($animationRadius); }
}

@keyframes animateDot4 {
    0%{ transform: rotate(-0deg) translateX($animationRadius); }
    25% { transform: rotate(-180deg) translateX($animationRadius); }
    75% { transform: rotate(-180deg) translateX($animationRadius); }
    100% { transform: rotate(-360deg) translateX($animationRadius); }
}