body {
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;  
  color: $ml_black;
}

a {
  color: $ml_black;

  &:hover {
    opacity: 0.8;
  }
}

.ml {
  &-container {
    max-width: $page_width;
    margin: 15px auto;
    width: 90%;
    background: #fff;
    box-shadow: 0 0 20px -4px hsla(0,0%,60%,.2);
    margin: 30px auto;
    border-radius: 4px;
    padding: 15px;
  
    @include dimension(large) {
      width: 80%;
      padding: 25px;
   }
  }

  &-btn {
    border: 1px solid $ml_blue;
    background: $ml_blue;
    color: #fff;
    padding: 14px 30px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 35px 0 15px 0;
    border-radius: 6px; 
    width: 100%;
  
    &:hover {
      opacity: 0.7;
    }
  }
}
