@mixin dimension($size) {
	@if $size == large {
		@media screen and (min-width: #{$l-device}) {
			@content;
		}
	} 
	@else if $size == extramedium {
		@media screen and (min-width: #{$m-device}) {
			@content;
		}
	} 
	@else if $size == medium {
		@media screen and (min-width: #{$m-device}) and (max-width: $l-device - 1) {
			@content;
		}
	} 
	@else if $size == small {
		@media screen and (max-width: $m-device - 1) {
			@content;
		}
	}
}