$l-device: 1200px;
$m-device: 992px;
$s-device: 480px;

$page_width: 1200px;
$grid_rows: 12;
$grid_row_height: $page_width / $grid_rows;
$sm_margin: 16px;
$lg_margin: $sm_margin * 2;
$animationLength: 1s;
$animationRadius: 12px;
$dotSize: 8px;

$ml_blue: #3483fa;
$ml_yellow: #ffe600;
$ml_black: #333333;
$ml_darkGray: #666666;
$ml_mediumGray: #999999;
$ml_lightGray: #eeeeee;
$ml_white: #ffffff;
