.ml-breadcrumb {
  display: flex;
  max-width: $page_width;
  margin:  auto;
  width: 90%;
  padding: 25px 0 0 0;

  @include dimension(large) {
    width: 80%;
  }
  
  &__item {
    font-size: 14px;
    color: $ml_darkGray;
    font-weight: 400;

    &:not(:last-child):after {
      content: '≻';
      margin:0 7px;
    }

    &:last-child {
      font-weight: 500;
      color: $ml_black
    }
  }
}