.ml-item {
  &__link {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    align-items: center;
  }

  &__info {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @include dimension(large) {
      flex-direction: row;
      display: block;
    }

    &__header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-direction: column;
      
      @include dimension(large) {
        flex-direction: row;
        align-items: flex-end;
      }
    }

    &__price {
      font-size: 22px;

      span, 
      sup {
        font-size: 12px;
        margin-left: 2px;
      }
    }

    &__city {
      font-size: 12px;
      font-weight: 300;
      color: $ml_darkGray;
      margin: 5px 0;
      font-weight: 300;
    }

    &__image {
      margin-left: 10px;
    }

    &__title {
      font-size: 14px;  
      line-height: 22px;
      font-weight: 300;
      color: $ml_darkGray;
      margin-bottom: 5px;

      @include dimension(large) {
        font-size: 18px;  
      }
    }
  }

  &__image {
    width: 120px;
    height: 120px;
    object-fit: contain;

    @include dimension(large) {
      width: 180px;
      height: 180px;
    }
  }
}