.ml-header {
  background: $ml_yellow;
  width: 100%;
  padding: 10px;

  &__container {
    display: flex;
    max-width: $page_width;
    margin:  auto;
    width: 90%;
    align-items: center;

    @include dimension(large) {
      width: 81%;
    }
  }
  
  &__logo {
    margin-right: 10px;
  }
}