.ml-product-item {
  &__header {
    @include dimension(large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 22px;
    margin: 10px 0;
    font-weight: 300;

    @include dimension(large) {
      margin: 10px 0 30px 0;
    }
  }

  &__small {
    font-size: 12px;
    font-weight: 300;
    color: $ml_mediumGray;
  }

  &__subtitle {
    font-size: 28px;
    margin: 40px 0;
  }

  &__price {
    font-size: 44px;

    sup {
      font-size: 12px;
      margin-left: 2px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;

    @include dimension(large) {
      margin: 0;
      width: auto;
      display: inline-block;
      flex-shrink: 0;
      align-self: self-start;
    }
  }

  &__box {
    @include dimension(large) {
      width: 30%;
      margin-left: 10%;
    }
  }

  &__description {
    font-size: 16px;
    color: $ml_mediumGray;
    line-height: 30px;
    font-weight: 300;
    overflow: hidden;

    @include dimension(large) {
      width: 70%;
    }
  }
}